[submodule "template-one"]
	path = template-one
	url = https://github.com/Developer-Student-Club-UoA/portfolio-website-template-one.git
[submodule "template-two"]
	path = template-two
	url = https://github.com/Developer-Student-Club-UoA/portfolio-website-template-two.git
